body {
 font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.reset {
  width: 200px;
  height: 100px;
  background-color: #9A8297;
}

.cell{
  text-align: center;
  font-size: 80px;
  width: 100px;
  height: 100px;
  background-color: #9A8297;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell:hover { 
  background-color: #D0782A;
}

.container {
  width: 314px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.restart-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 20px 1px 10px 1px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.restart-button:hover {
  background-color: green; /* Green */
}